/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.dev
.env.staging
.env.prod
auth.json
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/data.ms
/.idea
/.vscode
.vapor/
.env.production
.env.staging
public/imports
/public/js
/public/css
/public/build
/public/mix-manifest.json
/public/css/app.css
public/dist
public/dist/app.js
resources/js/.env
