@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ghost-card {
    @apply cursor-grabbing border-b border-slate-900 bg-slate-200 opacity-50;
  }
  .ghost-row {
    @apply cursor-grabbing rounded-lg border border-slate-900 bg-slate-300 opacity-50 shadow-md ring-indigo-500;
  }

  .ghost-header {
    @apply cursor-grabbing rounded-lg border border-slate-900 bg-slate-300 opacity-50 shadow-md ring-indigo-500;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply mx-1 my-12 h-4 w-4 rounded-full bg-gray-500;
}
.wp-exclude-emoji {
  position: relative;
  top: -20px;
}
